<div class="body">
    <div class="img" style="width: 16rem;">
        <img src="./assets/Img/logo4.png" class="card-img-top" alt="...">
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="label" for="inputEmail4">Usuario</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label class="label" for="inputEmail3">Nombre completo</label>
                <input type="email" class="form-control" id="inputPassword4">
            </div>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label class="label" for="exampleInputEmail1">Dirección Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label class="label" for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary">Register</button>   
            <label class="label2" for="">¿Ya estas registrado?</label>
            <button type="button" routerLink="/login-component" class="btn btn-outline-success">Login</button>        
        </div>

        <div class="button">
            
        </div>
    </form>
</div>